@if (data) {
<div class="spotify-info">
  @if (isTrack(data)) {
  <img [src]="data.album.images[0].url" [alt]="data.name" width="200" />
  } @if (isAlbum(data) && data.images.length) {
  <img [src]="data.images[0].url" [alt]="data.name" width="200" />
  } @if (isPlaylist(data) && data.images.length) {
  <img [src]="data.images[0].url" [alt]="data.name" width="200" />
  }
  <h2>{{ data.name }}</h2>
  @if (isTrack(data) || isAlbum(data)) {
  <p>
    Artist(s): @for (artist of data.artists; track artist; let last = $last) {
    {{ artist.name }}@if (!last) {<span>, </span>} }
  </p>
  } @if (isPlaylist(data)) {
  <p>By: {{ data.owner.display_name }}</p>
  <p>Total tracks: {{ data.tracks.total }}</p>
  } @if (isTrack(data) && data.preview_url) {
  <app-player [url]="data.preview_url"></app-player>
  } @else if (isTrack(data) && !data.preview_url) {
  <p>No preview available for this track.</p>
  }
</div>
<pre>{{ data | json }}</pre>
}
